/* Demo styles */
.h5 {
  font-size: .875rem;
}

.h6 {
  font-size: .75rem;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col-2 {
  box-sizing: border-box;
  width: calc(2/12 * 100%);
}

.col-12 {
  width: 100%;
}

.mt2 {
  margin-top: 1rem;
}

.mt4 {
  margin-top: 4rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.p1 {
  padding: .5rem;
}

.px2 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py1 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.rounded {
  border-radius: 2px;
}

.z6 {
  z-index: 600;
}

.demo-modal {
  height: 20rem;
}

.demo-form {
  width: 50%;
}

.demo-form-wide {
  width: 75%;
}

.demo-label-inline {
  width: 25%;
}

.demo-popup-container {
  position: relative;
  height: 8rem;
  margin-top: 2rem;
  border-bottom: 1px solid #ccc;
}

.demo-popup-container:first-of-type {
  height: 12rem;
  margin-top: 0;
}

.demo-popup-container:last-of-type {
  border-bottom: none;
}

.demo-popup {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  animation: none;
}

.demo-popup-is-visible {
  opacity: 1;
  pointer-events: all;
}

.color-swatch {
  height: 2rem;
  border-radius: 2px;
}

.color-swatch-text {
  font-size: .875rem;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
