/**
* @stylesheet src/modules/overlay.css Overlay
* @parent index
*/

/**
* @styles 0-overlay
*
* Overlays can be used to block the app or parts of it, for example while a modal is open or during loading.
*
* Only styles are provided, create functionality with JS. See the JS tab for an example on how to
* display/hide the overlay.
*
* `.oph-overlay-is-visible` element's z-index may have to overridden depending on your app.
*
* @demo demos/overlay/overlay.html
*/
.oph-overlay {
  display: none;
  position: relative;
  overflow: auto;
  background-color: var(--overlay-bg);
  opacity: 0;
  transition: var(--overlay-transition);
}

.oph-overlay-is-visible {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z5);
}

.oph-overlay-bg {
  opacity: 1;
}

:root {
  --overlay-bg: rgba(0, 0, 0, .20);
  --overlay-transition: opacity .3s ease;
}
