/* Demo styles */
.h5 {
  font-size: .875rem;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col-2 {
  box-sizing: border-box;
  width: calc(2/12 * 100%);
}

.col-3 {
  width: calc(3/12 * 100%);
}

.col-6 {
  width: calc(6/12 * 100%);
}

.col-8 {
  width: calc(8/12 * 100%);
}

.col-12 {
  width: 100%;
}

.mt2 {
  margin-top: 1rem;
}

.mt4 {
  margin-top: 4rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.p1 {
  padding: .5rem;
}

.px2 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py1 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.rounded {
  border-radius: 2px;
}

.z6 {
  z-index: 600;
}

.demo-modal {
  height: 20em;
}

.color-swatch {
  height: 2rem;
  border-radius: 2px;
}

