/* Demo styles */
.h5 {
  font-size: .875rem;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col-2 {
  box-sizing: border-box;
  width: 16.66667%
}

.col-12 {
  width: 100%;
}

.mt2 {
  margin-top: 1rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.p1 {
  padding: .5rem;
}

.px2 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py1 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.rounded {
  border-radius: 2px;
}

.demo-modal {
  height: 20em;
}

.color-swatch {
  height: 2rem;
  border-radius: 2px;
}
