
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
/* External dependencies */
/* Modules */
/*
  Variables
  Naming: property-modifier
*/
:root {

  /*
    A relative unit is used to allow the changing of user agent's font size
    95% = 15.2px in Chrome on default font size
  */

  /* Type scale */

  /* Spacing scale for margins & paddings */

  /* Colors */

  /* Borders */

  /* Z-index scale */

  /* Transitions */

  /* Box shadows */

  /* Media queries */
}
/**
* @stylesheet src/modules/alerts.css Alerts
* @parent index
*
* Only styles are provided, create displaying/closing functionality with JS.
*
* The content is wrapped in `.oph-alert-container` (centered and has a maximum width)
* for full screen wide alerts.
*/
.oph-alert {
  text-align: center;
  display: block;
  color: #2a2a2a;
}
.oph-alert-container {
  position: relative;
  max-width: 1440px;
  max-width: 90rem;
  margin: 0 auto;
  padding: 16px 64px;
  padding: 1rem 4rem;
}
.oph-alert-title {
  font-weight: 600;
}
.oph-alert-text {
  margin-top: 8px;
  margin-top: .5rem;
}
/**
* @styles 0-info Info
*
* @demo demos/alerts/alert-info.html
*/
.oph-alert-info {
  background-color: #def2ff;
}
/**
* @styles 1-success Success
*
* @demo demos/alerts/alert-success.html
*/
.oph-alert-success {
  background-color: #e6ffc1;
}
.oph-alert-success .oph-alert-title {
  color: #4c7f00;
}
/**
* @styles 2-warning Warning
*
* @demo demos/alerts/alert-warning.html
*/
.oph-alert-warning {
  background-color: #fff7bc;
}
/**
* @styles 3-error Error
*
* @demo demos/alerts/alert-error.html
*/
.oph-alert-error {
  background-color: #ffe9e9;
}
.oph-alert-error .oph-alert-title {
  color: #e44e4e;
}
/**
* @styles 4-help-text Help text
*
* @demo demos/alerts/alert-help.html
*/
.oph-alert-help {
  font-size: 14px;
  font-size: .875rem;
  border-width: 1px;
  border-style: solid;
  border-color: #aeaeae;
  border-radius: 2px;
  background-color: #f6f4f0;
  color: #666;
}
.oph-alert-help .oph-alert-title {
  font-weight: 400;
}
/**
* @stylesheet src/modules/buttons.css Buttons
* @parent index
*
* Use `.oph-button-{variant}` with `a`, `button` and `input type="submit"` tags.
*/
.oph-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  line-height: 1.125;
  text-decoration: none;
  display: inline-block;
  padding-top: 8px;
  padding-top: .5rem;
  padding-right: 16px;
  padding-right: 1rem;
  padding-bottom: 8px;
  padding-bottom: .5rem;
  padding-left: 16px;
  padding-left: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  cursor: pointer;
}
.oph-button:focus {
  outline: 0;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
* @styles 0-primary-button Primary button
*
* @demo demos/buttons/button-primary.html
*/
.oph-button-primary {
  color: #fff;
  border-color: #159ecb;
  background-color: #159ecb;
}
.oph-button-primary:hover,
.oph-button-primary:focus {
  border-color: #00b5f0;
  background-color: #00b5f0;
}
/**
* @styles 1-confirm-button Confirm button
*
* @demo demos/buttons/button-confirm.html
*/
.oph-button-confirm {
  color: #fff;
  border-color: #e44e4e;
  background-color: #e44e4e;
}
.oph-button-confirm:hover,
.oph-button-confirm:focus {
  border-color: #e09191;
  background-color: #e09191;
}
/**
* @styles 2-disabled-button Disabled button
*
* Use *disabled* attribute instead of *.oph-button-is-disabled* class with *button* and *input* tag.
*
* Links are only disabled with [*pointer-events: none* declaration](http://caniuse.com/#feat=pointer-events),
* and may need JS to be completely blocked.
*
* @demo demos/buttons/button-disabled.html
*/
.oph-button-is-disabled,
.oph-button:disabled,
.oph-button-is-disabled:hover,
.oph-button:disabled:hover,
.oph-button-is-disabled:focus,
.oph-button:disabled:focus {
  color: #fff;
  border-color: #ccc;
  background-color: #ccc;
  pointer-events: none;
}
/**
* @styles 3-big-button Big button
*
* @demo demos/buttons/button-big.html
*/
.oph-button-big {
  padding-top: 16px;
  padding-top: 1rem;
  padding-right: 64px;
  padding-right: 4rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  padding-left: 64px;
  padding-left: 4rem;
}
/**
* @styles 4-big-button Close button
*
* Close button is absolutely positioned, so it needs a *position: relative* declaration in its' container
* for proper positioning.
*
* @demo demos/buttons/button-close.html
*/
.oph-button-close {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
  z-index: 200;
}
.oph-button-close:hover,
.oph-button-close:focus {
  color: #00b5f0;
}
.oph-button-close:disabled,
.oph-button-close.oph-button-is-disabled {
  color: #ccc;
  border-color: transparent;
  background-color: transparent;
}
/**
* @styles 5-loading-state Loading state
*
* @demo demos/buttons/button-in-loading-state.html
*/
/**
* @stylesheet src/modules/forms.css Forms
* @parent index
*/
::-webkit-input-placeholder {
  color: #aeaeae;
}
::-moz-placeholder {
  color: #aeaeae;
}
:-ms-input-placeholder {
  color: #aeaeae;
}
::placeholder {
  color: #aeaeae;
}
.oph-field {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.oph-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.oph-label,
.oph-legend {
  display: inline-block;
  margin-bottom: 8px;
  margin-bottom: .5rem;
}
.oph-field-text {
  margin-top: 8px;
  margin-top: .5rem;
  color: #aeaeae;
}
/**
* @styles 0-input-regular Regular input (with help text)
*
* `.oph-field-text` is used to provide additional info about the field or the expected value.
*
* **Accessibility**
*
* - label has `aria-describedby` linking to `.oph-field-text`, which causes screen readers to announce the text
* when user focuses or enters the input
*
* @demo demos/forms/input-regular.html
*/
.oph-input {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  padding: 8px;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: inset 0 1px 4px #ccc;
  -webkit-transition-property: border, background;
  transition-property: border, background;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.oph-input:not(:focus):not([disabled]):not([readonly]):not(.oph-input-has-error):hover {
  border-color: #999;
}
.oph-input:focus {
  outline: none;
}
.oph-input:not(.oph-input-has-error):focus {
  border-color: #159ecb;
}
/**
* @styles 1-input-regular Required input
*
* **Accessibility**
*
* - input has `aria-required` to identify it as required to screen reader users
*
* @demo demos/forms/input-required.html
*/
.oph-field-is-required .oph-label:first-of-type:after,
.oph-field-is-required .oph-legend:first-of-type:after {
  content: " *"
}
/**
* @styles 2-input-with-error Input with error
*
* **Accessibility**
*
* - input has `aria-invalid` to indicate it as invalid or in need of attention to screen readers users
*
* @demo demos/forms/input-with-error.html
*/
.oph-input-has-error {
  background-color: #ffe9e9;
  border-color: #e09191;
  box-shadow: 0 0 0;
}
.oph-input-has-error:hover,
.oph-input-has-error:focus {
  border-color: #e44e4e;
}
/**
* @styles 3-disabled-and-read-only Disabled and read-only input
*
* @demo demos/forms/input-is-disabled-or-read-only.html
*/
.oph-input[disabled],
.oph-input[readonly]
{
  background-color: #f5f5f5;
  color: #aeaeae;
  box-shadow: 0 0 0;
}
.oph-input[disabled]:hover {
  cursor: not-allowed;
}
/**
* @styles 4-inline-label Inline label
*
* Styles for aligning inline inputs isn't provided.
*
* @demo demos/forms/inline-label.html
*/
.oph-field-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.oph-field-inline .oph-label:first-of-type {
  margin-right: 32px;
  margin-right: 2rem;
  margin-bottom: 0;
}
/**
* @styles 5-select Select menu
*
* @demo demos/forms/select.html
*/
/* Custom caret */
.oph-select-container {
  position: relative;
}
.oph-select-container:before {
  content: '';
  position: absolute;
  top: 16px;
  top: 1rem;
  right: 8px;
  right: .5rem;
  border-top: 8px solid #666;
  border-top: .5rem solid #666;
  border-right: 8px solid transparent;
  border-right: .5rem solid transparent;
  border-left: 8px solid transparent;
  border-left: .5rem solid transparent;
}
.oph-select-container:after {
  content: '';
  position: absolute;
  top: 16px;
  top: 1rem;
  right: calc(.5rem + 1px);
  border-top: calc(.5rem - 1px) solid #fff;
  border-right: calc(.5rem - 1px) solid transparent;
  border-left: calc(.5rem - 1px) solid transparent;
}
.oph-select {
  padding-right: 32px;
  padding-right: 2rem;
  /* Remove default styling and arrows */
  -webkit-appearance: none;
  -moz-appearance: none;
}
/**
* @styles 6-select Checkboxes and radios
*
* @demo demos/forms/checkboxes-and-radios.html
*/
.oph-checkable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  margin-bottom: .5rem;
}
.oph-checkable:not(.oph-checkable-is-disabled):hover,
.oph-checkable-input:focus + .oph-checkable-text {
  color: #00b5f0;
  cursor: pointer;
}
.oph-checkable-is-disabled,
.oph-checkable-is-disabled:hover {
  color: #aeaeae;
  cursor: not-allowed;
}
.oph-checkable-input {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 8px;
  margin-right: .5rem;
}
.oph-checkable-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
/**
* @styles 7-checkbox-buttons Checkbox buttons
*
* @demo demos/forms/checkbox-buttons.html
*/
.oph-checkbox-button-input {
  /* Hide checkbox visually */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
}
.oph-checkbox-button-text {
  display: inline-block;
  margin-right: 8px;
  margin-right: .5rem;
  margin-bottom: 8px;
  margin-bottom: .5rem;
  padding: 8px;
  padding: .5rem;
  border-width: 2px;
  border-style: solid;
  border-color: #159ecb;
  border-radius: 2px;
  background-color: #fff;
  color: #159ecb;
  -webkit-transition-property: color, border, background;
  transition-property: color, border, background;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.oph-checkbox-button-text:hover,
.oph-checkbox-button-input:focus + .oph-checkbox-button-text {
  color: #00b5f0;
  border-color: #00b5f0;
  cursor: pointer;
}
.oph-checkbox-button-input:checked + .oph-checkbox-button-text {
  color: #fff;
  background-color: #159ecb;
}
.oph-checkbox-button-input:checked + .oph-checkbox-button-text:before {
  /* Add a check mark and an empty space before text on checked buttons */
  content:  "\2713\00a0";
}
.oph-checkbox-button-input:checked + .oph-checkbox-button-text:hover,
.oph-checkbox-button-input:checked:focus + .oph-checkbox-button-text {
  color: #fff;
  border-color: #00b5f0;
  background-color: #00b5f0;
}
.oph-checkbox-button-input[disabled] + .oph-checkbox-button-text,
.oph-checkbox-button-input:checked[disabled] + .oph-checkbox-button-text {
  color: #aeaeae;
  border-color: #aeaeae;
  background-color: #f6f4f0;
  cursor: not-allowed;
}
/**
* @styles 8-checkbox-buttons Radio button group
*
* @demo demos/forms/radio-button-group.html
*/
.oph-radio-button-group {
  display: block;
  padding: 4px;
  padding: 0.25rem;
  border-width: 2px;
  border-style: solid;
  border-color: #159ecb;
  border-radius: 2px;
  background-color: #fff;
}
@media (min-width: 52em) {
  .oph-radio-button-group {
    display: inline-block;
  }
}
.oph-radio-button-input {
  /* Hide radio input visually */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.oph-radio-button-text {
  display: block;
  padding: 8px 16px;
  padding: .5rem 1rem;
  border-radius: 2px;
  color: #159ecb;
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
@media (min-width: 52em) {
  .oph-radio-button-text {
    display: inline-block;
  }
}
.oph-radio-button-text:hover,
.oph-radio-button-input:focus + .oph-radio-button-text {
  background-color: #def2ff;
  color: #00b5f0;
  cursor: pointer;
}
.oph-radio-button-input:checked + .oph-radio-button-text,
.oph-radio-button-input:checked + .oph-radio-button-text:hover,
.oph-radio-button-input:checked:focus + .oph-radio-button-text {
  background-color: #159ecb;
  color: #fff;
  cursor: default;
}
.oph-radio-button-input[disabled] + .oph-radio-button-text,
.oph-radio-button-input:checked[disabled] + .oph-radio-button-text {
  background-color: #fff;
  color: #aeaeae;
  cursor: not-allowed;
}
/**
* @stylesheet src/modules/modal.css Modal
* @parent index
*/
/**
* @styles 0-modal Modal
*
* Only styles are provided, create opening/closing functionality with JS. Set `overflow: hidden` on body to hide
* the window's scroll bar while the modal is open.
*
* The [src/modules/overlay.css] component can be used to block the background while a modal is open.
*
* Z-indexes for `.oph-overlay` and `.oph-modal` may have to be adjusted depending on the app.
*
* **Accessibility**
*
* - `.oph-modal` is made focusable with tab by setting `tabindex=-1`, has a `role=dialog` attribute
* and `aria-labelledby` linking to `.oph-modal-heading`
*
* - `.oph-modal-dialog` has a `role=document` attribute for screen reader users to browse the contents more easily
*
* - `.oph-modal-back-to-top-link` for setting focus back to `.oph-modal`. The link is initially visually hidden,
* and displayed on focus.
*
* @demo demos/modal/modal.html
*/
.oph-modal {
  max-width: 1440px;
  max-width: 90rem;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 32px;
  padding-top: 2rem;
  padding-right: 16px;
  padding-right: 1rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  padding-left: 16px;
  padding-left: 1rem;
  z-index: 600;
}
/* Modal is made focusable with setting tabindex of -1, remove the outline */
.oph-modal:focus {
  outline: none;
}
.oph-modal-dialog {
  position: relative;
  width: 100%;
  max-width: 720px;
  max-width: 45rem;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 32px;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  padding-left: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
.oph-modal-content {
  padding-right: 32px;
  padding-right: 2rem;
  padding-left: 32px;
  padding-left: 2rem;
}
.oph-modal-heading {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
}
/*
  Back to top link for accessibility
  Link is visually hidden initially, visible when focused
*/
.oph-modal-back-to-top-link {
  position: absolute !important;
  height: 1px;
  width: 1px;
  right: 16px;
  right: 1rem;
  bottom: 8px;
  bottom: .5rem;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
.oph-modal-back-to-top-link:focus {
  position: relative;
  height: auto;
  width: auto;
  overflow: auto;
  clip: auto;
}
/**
* @styles 1-modal-big Big modal
*
* @demo demos/modal/modal-big.html
*/
.oph-modal-big .oph-modal-dialog {
  max-width: 100%;
}
/**
* @stylesheet src/modules/overlay.css Overlay
* @parent index
*/
/**
* @styles 0-overlay Overlay
*
* Overlays can be used to block the app or parts of it, for example while a modal is open or during loading.
*
* Only styles are provided, create functionality with JS. See the JS tab for an example on how to
* display/hide the overlay.
*
* The z-index may have to be adjusted depending on the app.
*
* @demo demos/overlay/overlay.html
*/
.oph-overlay {
  display: none;
  position: relative;
  overflow: auto;
  background-color: rgba(0, 0, 0, .20);
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.oph-overlay-is-visible {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
}
.oph-overlay-bg {
  opacity: 1;
}
.oph-spinner {
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  text-align: center;
}
.oph-spinner-in-button {
  display: inline-block;
  width: auto;
  margin-right: 8px;
  margin-right: .5rem;
}
.oph-spinner .oph-bounce {
  width: 18px;
  height: 18px;
  background-color: #159ecb;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;

  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.oph-spinner-in-button .oph-bounce {
  display: inline-block;
  width: 12px;
  width: .75rem;
  height: 12px;
  height: .75rem;
  background-color: #fff;
}
.oph-spinner .oph-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.oph-spinner .oph-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
/**
* @stylesheet src/modules/backgrounds.css Backgrounds
* @parent index
*/
/**
* @styles 0-contextual-colors App background
*
* Set your app's background color with `.oph-bg-app`
*/
.oph-bg-app {
  background-color: #f6f4f0;
}
/**
* @styles 1-colors Color palette
*
* Use `.oph-bg-{color}` classes to set background color. Every color defined in the Sketch specs has
* a corresponding class. Overrides default background color.
*
* @iframe demos/backgrounds/colors.html 690
*/
.oph-bg-black { background-color: #2a2a2a; }
.oph-bg-white { background-color: #fff; }
.oph-bg-gray { background-color: #666; }
.oph-bg-gray-lighten-1 { background-color: #999; }
.oph-bg-gray-lighten-2 { background-color: #aeaeae; }
.oph-bg-gray-lighten-3 { background-color: #ccc; }
.oph-bg-gray-lighten-4 { background-color: #f6f4f0; }
.oph-bg-gray-lighten-5 { background-color: #f5f5f5; }
.oph-bg-red { background-color: #e44e4e; }
.oph-bg-red-lighten-1 { background-color: #e09191; }
.oph-bg-red-lighten-2 { background-color: #ffe9e9; }
.oph-bg-blue { background-color: #0a789c; }
.oph-bg-blue-lighten-1 { background-color: #159ecb; }
.oph-bg-blue-lighten-2 { background-color: #00b5f0; }
.oph-bg-blue-lighten-3 { background-color: #a6dcee; }
.oph-bg-blue-lighten-4 { background-color: #def2ff; }
.oph-bg-blue-darken-1 { background-color: #00526c; }
.oph-bg-green { background-color: #4c7f00; }
.oph-bg-green-lighten-1 { background-color: #e6ffc1; }
.oph-bg-yellow { background-color: #ffd024; }
.oph-bg-yellow-lighten-1 { background-color: #fff7bc; }
/**
* @stylesheet src/modules/typography.css Typography
* @parent index
*/
/**
* @styles 0-base-element Typography base
*
* Use `.oph-typography` in an element to set font family, size, color and line height.
* Base font size is set to 95% of the browser's default font size.
*
* Set this as high in the element hierarchy as possible, preferably to the main element of your app.
*
* @demo demos/typography/base.html
*/
.oph-typography {
  font-family: "Open Sans", "Helvetica", sans-sefif;
  font-size: 95%;
  line-height: 1.45;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: #2a2a2a;
}
/**
* @styles 1-type-scale Type scale
*
* Adjust elements' font size with `oph-h{1-6}`. Overrides default size.
*
* [Rem](https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#Rems) units are used for sizing.
* Combine the classes with fluidly sized elements for best results.
*
* @demo demos/typography/type-scale.html
*/
.oph-h1 { font-size: 32px; font-size: 2rem; }
.oph-h2 { font-size: 24px; font-size: 1.5rem; }
.oph-h3 { font-size: 20px; font-size: 1.25rem; }
.oph-h4 { font-size: 16px; font-size: 1rem; }
.oph-h5 { font-size: 14px; font-size: .875rem; }
.oph-h6 { font-size: 12px; font-size: .75rem; }
/**
* @styles 2-headings Headings (and bolded text)
*
* Use `.oph-bold` with the font size classes to style headings. Font weight is set to 600.
*
* @demo demos/typography/headings.html
*/
.oph-bold {
  font-weight: 600;
}
/**
* @styles 3-links Links
*
* @demo demos/typography/links.html
*/
.oph-link {
  text-decoration: none;
  color: #159ecb;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.oph-link:hover,
.oph-link:focus {
  color: #00b5f0;
  outline: none;
}
.oph-link-big {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 600;
}
/**
* @styles 4-contextual-colors Contextual colors
*
* @demo demos/typography/contextual-colors.html
*/
.oph-muted { color: #aeaeae; }
.oph-error { color: #e44e4e; }
/**
* @styles 5-colors Color palette
*
* Use `.oph-{color}` to set text color. Every color defined in the Sketch specs has
* a corresponding class. Overrides default color.
*
* @iframe demos/typography/colors.html 360
*/
.oph-black { color: #2a2a2a; }
.oph-white { color: #fff; }
.oph-gray { color: #666; }
.oph-gray-lighten-1 { color: #999; }
.oph-gray-lighten-2 { color: #aeaeae; }
.oph-gray-lighten-3 { color: #ccc; }
.oph-gray-lighten-4 { color: #f6f4f0; }
.oph-gray-lighten-5 { color: #f5f5f5; }
.oph-red { color: #e44e4e; }
.oph-red-lighten-1 { color: #e09191; }
.oph-red-lighten-2 { color: #ffe9e9; }
.oph-blue { color: #0a789c; }
.oph-blue-lighten-1 { color: #159ecb; }
.oph-blue-lighten-2 { color: #00b5f0; }
.oph-blue-lighten-3 { color: #a6dcee; }
.oph-blue-lighten-4 { color: #def2ff; }
.oph-blue-darken-1 { color: #00526c; }
.oph-green { color: #4c7f00; }
.oph-green-lighten-1 { color: #e6ffc1; }
.oph-yellow { color: #ffd024; }
.oph-yellow-lighten-1 { color: #fff7bc; }
