
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
/* External dependencies */
/* Modules */
/*
  Variables
  Naming: property-modifier
*/
:root {

  /*
    A relative unit is used to allow the changing of user agent's font size
    95% = 15.2px in Chrome on default font size
  */

  /* Type scale */

  /* Spacing scale for margins & paddings */

  /* Colors */

  /* Borders */

  /* Z-index scale */

  /* Transitions */

  /* Miscellaneous */

  /* Media queries */
}
/**
* @stylesheet src/modules/buttons.css Buttons
* @parent index
*
* Use with *a*, *button* or *input* tag
*/
.oph-button {
  font-family: "Open Sans", "Helvetica", sans-sefif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.125;
  text-decoration: none;
  display: inline-block;
  padding-top: 8px;
  padding-top: .5rem;
  padding-right: 16px;
  padding-right: 1rem;
  padding-bottom: 8px;
  padding-bottom: .5rem;
  padding-left: 16px;
  padding-left: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition-property: background, color;
  transition-property: background, color;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  cursor: pointer;
}
.oph-button:focus {
  outline: 0;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
* @styles 0-primary-button Primary button
*
* @demo demos/buttons/button-primary.html
*/
.oph-button-primary {
  color: #fdfdfd;
  border-color: #159ecb;
  background-color: #159ecb;
}
.oph-button-primary:hover,
.oph-button-primary:focus {
  border-color: #00b5f0;
  background-color: #00b5f0;
}
/**
* @styles 1-confirm-button Confirm button
*
* @demo demos/buttons/button-confirm.html
*/
.oph-button-confirm {
  color: #fdfdfd;
  border-color: #e44e4e;
  background-color: #e44e4e;
}
.oph-button-confirm:hover,
.oph-button-confirm:focus {
  border-color: #e09191;
  background-color: #e09191;
}
/**
* @styles 2-disabled-button Disabled button
*
* Use *disabled* attribute instead of *oph-button-is-disabled* class with *button* tag.
*
* Links are only disabled with [*pointer-events: none* declaration](http://caniuse.com/#feat=pointer-events),
* and may need JS to be completely blocked.
*
* @demo demos/buttons/button-disabled.html
*/
.oph-button-is-disabled,
.oph-button:disabled,
.oph-button-is-disabled:hover,
.oph-button:disabled:hover,
.oph-button-is-disabled:focus,
.oph-button:disabled:focus {
  color: #fdfdfd;
  border-color: #aeaeae;
  background-color: #aeaeae;
  pointer-events: none;
}
/**
* @styles 3-big-button Big button
*
* @demo demos/buttons/button-big.html
*/
.oph-button-big {
  padding-top: 16px;
  padding-top: 1rem;
  padding-right: 64px;
  padding-right: 4rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  padding-left: 64px;
  padding-left: 4rem;
}
/**
* @styles 4-big-button Close button
*
* Close button is absolutely positioned, so it needs a *position: relative* declaration in its' container
* for proper positioning.
*
* @demo demos/buttons/button-close.html
*/
.oph-button-close {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0
}
.oph-button-close:hover,
.oph-button-close:focus {
  color: #00b5f0;
}
/**
* @stylesheet src/modules/modal.css Modal
* @parent index
*/
/**
* @styles 0-modal Modal
*
* Only styles are provided. Create opening/closing functionality and provide accessibility with JS.
*
* Z-indexes for *.oph-overlay* and *.oph-modal* may have to be adjusted depending on the app.
*
* @demo demos/modal/modal.html
*/
.oph-modal {
  max-width: 1440px;
  max-width: 90rem;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 32px;
  padding-top: 2rem;
  padding-right: 16px;
  padding-right: 1rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  padding-left: 16px;
  padding-left: 1rem;
  z-index: 600;
}
.oph-modal-dialog {
  position: relative;
  width: 100%;
  max-width: 720px;
  max-width: 45rem;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 32px;
  padding-top: 2rem;
  padding-right: 0;
  padding-bottom: 32px;
  padding-bottom: 2rem;
  padding-left: 0;
  border-radius: 2px;
  background-color: #fdfdfd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}
.oph-modal-content {
  padding-right: 32px;
  padding-right: 2rem;
  padding-left: 32px;
  padding-left: 2rem;
}
.oph-modal-heading {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
}
.oph-modal-big .oph-modal-dialog {
  max-width: 100%;
}
.oph-overlay {
  display: none;
  position: relative;
  overflow: auto;
  background-color: rgba(0, 0, 0, .20);
}
.oph-overlay-is-visible {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
}
/**
* @stylesheet src/modules/typography.css Typography
* @parent index
*/
/**
* @styles 0-base-element Typography base
*
* Use *oph-typography* class in an element to set font family, size, color and line height.
* Base font size is set to 95% of the browser's default font size.
*
* @demo demos/typography/base.html
*/
.oph-typography {
  font-family: "Open Sans", "Helvetica", sans-sefif;
  font-size: 95%;
  line-height: 1.45;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: #2a2a2a;
}
/**
* @styles 1-type-scale Type scale
*
* Adjust elements' font size with *oph-h[1-6]* classes. Overrides default size.
*
* [Rem](https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#Rems) units are used for sizing.
* Combine the classes with fluidly sized elements for best results.
*
* @demo demos/typography/type-scale.html
*/
.oph-h1 { font-size: 32px; font-size: 2rem; }
.oph-h2 { font-size: 24px; font-size: 1.5rem; }
.oph-h3 { font-size: 20px; font-size: 1.25rem; }
.oph-h4 { font-size: 16px; font-size: 1rem; }
.oph-h5 { font-size: 14px; font-size: .875rem; }
.oph-h6 { font-size: 12px; font-size: .75rem; }
/**
* @styles 2-headings Headings (and bold text)
*
* Use *.oph-bold* class with the font size classes to style headings. Font weight is set to 600.
*
* @demo demos/typography/headings.html
*/
.oph-bold {
  font-weight: 600;
}
/**
* @styles 3-links Links
*
* @demo demos/typography/links.html
*/
.oph-link {
  text-decoration: none;
  color: #159ecb;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .15s;
          transition-duration: .15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.oph-link:hover,
.oph-link:focus {
  color: #00b5f0;
}
/**
* @styles 4-contextual-colors Contextual colors
*
* @demo demos/typography/contextual-colors.html
*/
.oph-muted { color: #999; }
.oph-error { color: #e44e4e; }
/**
* @styles 5-colors Color palette
*
* Use *oph-[color]* classes to set text color. Every color defined in the Sketch specs has
* a corresponding class. Overrides default color.
*
* @iframe demos/typography/colors.html 360
*/
.oph-black { color: #2a2a2a; }
.oph-white { color: #fdfdfd; }
.oph-gray { color: #2b2b2b; }
.oph-gray-lighten-1 { color: #666; }
.oph-gray-lighten-2 { color: #999; }
.oph-gray-lighten-3 { color: #aeaeae; }
.oph-gray-lighten-4 { color: #ccc; }
.oph-gray-lighten-5 { color: #f6f4f0; }
.oph-red { color: #e44e4e; }
.oph-red-lighten-1 { color: #e09191; }
.oph-red-lighten-2 { color: #ffe9e9; }
.oph-blue { color: #0a789c; }
.oph-blue-lighten-1 { color: #159ecb; }
.oph-blue-lighten-2 { color: #00b5f0; }
.oph-blue-lighten-3 { color: #a6dcee; }
.oph-blue-lighten-4 { color: #def2ff; }
.oph-blue-darken-1 { color: #00526c; }
.oph-green { color: #99d740; }
.oph-green-lighten-1 { color: #e6ffc1; }
.oph-yellow { color: #ffd024; }
.oph-yellow-lighten-1 { color: #fff7bc; }
