$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

$active: #159ECB;

@mixin font($size, $color) {
  font-family: 'Open Sans', sans-serif;
  font-size: $size;
  color: $color;
  letter-spacing: 0;
  line-height: 19px;
}

body {
  @include font(15px, #2B2B2B);
}

hr {
  background: #AEAEAE;
}

h1 {
  @include font(32px, #2A2A2A);
  font-weight: 600;
}

h2 {
  @include font(24px, #2A2A2A);
  font-weight: 600;
}

h3 {
  @include font(16px, #2A2A2A);
  font-weight: 600;
}

.error-txt {
  font-size: 15px;
  color: #E44E4E;
}

.light{
  color: #666666;
}

a {
  color: $active;
  letter-spacing: 0;
  line-height: 16px;
  text-decoration: none;
}

a.large-link {
  font-size: 18px;
  color: #149ECB;
  letter-spacing: 0;
  font-weight: 600;
}

@import "input";
@import "select-components";
@import "notifications";
@import "buttons";
@import "tabs";

