$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$font-family-open-sans: 'Open Sans', sans-serif;
$active: #159ECB;
$bg-blue: #0A789C;
$bg-dark-blue: #00526C;
$bg-gray: #2B2B2B;

@mixin font($size, $color, $weight: 400) {
  font-family: $font-family-open-sans;
  font-size: $size;
  color: $color;
  line-height: 19px;
  font-weight: $weight;
}

body {
  @include font(15px, #2B2B2B);
}

hr {
  background: #AEAEAE;
}

h1 {
  @include font(32px, #2A2A2A, 600);
}

h2 {
  @include font(24px, #2A2A2A, 600);
}

h3 {
  @include font(16px, #2A2A2A, 600);
}

.error-txt {
  font-size: 15px;
  color: #E44E4E;
}

.light{
  color: #666666;
}

a {
  color: $active;
  line-height: 16px;
  text-decoration: none;
}

a.large-link {
  @include font(18px, #149ECB, 600);
}

@import "input";
@import "select-components";
@import "notifications";
@import "buttons";
@import "tabs";

