$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

$active: #159ECB;
$bg-blue: #0A789C;
$bg-dark-blue: #00526C;
$bg-gray: #2B2B2B;

@font-face {
  font-family: "OpenSans";
  src: url("../node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.svg") format("svg");
  src: url("../node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot") format("eot");
  src: url("../node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf") format("ttf");
  src: url("../node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff") format("woff");
  src: url("../node_modules/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../node_modules/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.svg") format("svg");
  src: url("../node_modules/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.eot") format("eot");
  src: url("../node_modules/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.ttf") format("ttf");
  src: url("../node_modules/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.woff") format("woff");
  src: url("../node_modules/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.woff2") format("woff2");
}

@mixin font($size, $color, $font: 'OpenSans') {
  font-family: quote($font), sans-serif;
  font-size: $size;
  color: $color;
  letter-spacing: 0;
  line-height: 19px;
}

body {
  @include font(15px, #2B2B2B);
}

hr {
  background: #AEAEAE;
}

h1 {
  @include font(32px, #2A2A2A, 'OpenSans-Semibold');
}

h2 {
  @include font(24px, #2A2A2A, 'OpenSans-Semibold');
}

h3 {
  @include font(16px, #2A2A2A, 'OpenSans-Semibold');
}

.error-txt {
  font-size: 15px;
  color: #E44E4E;
}

.light{
  color: #666666;
}

a {
  color: $active;
  line-height: 16px;
  text-decoration: none;
}

a.large-link {
  @include font(18px, #149ECB, 'OpenSans-Semibold');
}

@import "input";
@import "select-components";
@import "notifications";
@import "buttons";
@import "tabs";

