.select-multiple {
  span {
    display: inline-block;
    padding: 10px 15px;
    background: #FFFFFF;
    border: 2px solid #149ECB;
    border-radius: 2px;
    color: #149ECB;
    margin-right: 4px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .selected {
    background: $active;
    color: #FFFFFF;
    padding-left: 10px;

    i {
      @extend .fa;
      @extend .fa-check;
      padding-right: 5px;
      font-size: 11px;
      vertical-align: middle;
    }
  }
}

.select-one {
  display: inline-block;
  padding: 10px 3px 10px 3px;
  background: #FFFFFF;
  border: 2px solid #149ECB;
  border-radius: 2px;
  color: #149ECB;

  span {
    cursor: pointer;
    padding: 7px 8px;
    margin-right: 5px;
    margin-left: 0;

    &:last-child {
      margin-right: 0;
    }

    &.selected {
      color: #FFFFFF;
      background: #149ECB;
      border-radius: 2px;
    }
  }
}

.select-list {
  list-style: none;
  padding-left: 0;
  display: inline-block;

  li {
    background: #E8F6F9;
    border-radius: 2px;
    font-size: 16px;
    color: #2A2A2A;
    padding: 10px 19px;
    margin-bottom: 1px;
    cursor: pointer;

    &.selected {
      background: #06526B;
      color: #FFFFFF;

      i {
        @extend .fa;
        @extend .fa-check;
        padding-right: 5px;
        font-size: 11px;
        color: $active;
        vertical-align: middle;
      }
    }
  }
}
